<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.firstname %> <%= user.lastname %></h1>
    <a href="/log-out">LOG OUT</a>
    <a href = "/create">Create New Message</a>
    <div class = "messages"></div>

    <% for (var i = 0; i < messages.length; i++) { %>
      <li class="timeline-yellow">
          <div class="timeline-time">
              <span class="date" style="text-align:left">
              <%= messages[i].text %>
              </span>
          </div>
      </li>
      <% } %>

  <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
  <%}%>
</body>
</html>